.env
__pycache__/
*.pyc
venv/
.venv/
.streamlit/secrets.toml
.idea/
.vscode/
plan/
diagram/
mock/*
!mock/proposal_paper/
mock/proposal_paper/*
!mock/proposal_paper/4_unit_open_problems/
mock/proposal_paper/4_unit_open_problems/*
!mock/proposal_paper/4_unit_open_problems/all.json
!mock/proposal_paper/4_unit_open_problems/embeddings.json
!mock/proposal_paper/4_unit_open_problems/embeddings.npy
